__pycache__/
.vscode/
*.egg-info/
webapp/static/tmp
webapp/.fuse_hidden*
webapp/.fuse_hidden0000004700000001
webapp/static/
webapp/*.db
scripts/auto_lang_ann.npy
hydra_outputs/
webapp/data.json
annotations/