{% extends "base.html" %}
{% block title %}Language annotation Tool{% endblock %}
{% block content %}
<br />
<h1 align="center">Language Annotation Tool</h1>
    <br />
    <h5 align="center">Welcome to our data collection tool for language instructions.</h5>
    <h5 align="center">In this platform we attempt to collect a rich dataset build of video and language descriptions</h5>
    <br />
    <h4 align="center"> Help us! And label some videos!</h4>
    <br />
    <br />
    <form method="POST">
        <div align="center">
            <button type="submit" class="btn btn-primary">Let's Go!</button>
        </div>
    </form>
{% endblock %}
